---
import Header from "../components/Header.astro";
import Base from "../layouts/Base.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Offres</title>
    </head>
    <body class="bg-fuchsia-50">
        <Base titre="Offres">
            <h1 class="flex justify-center text-3xl py-3 font-semibold">
                Offres
            </h1>
        </Base>
    </body>
</html>
