---
const { ...offre } = Astro.props;
console.log(offre);
---

<div class="grid grid-colls-2 justify-center items-center rounded-lg pb-6 px-6">
    <div class="p-6 flex flex-col bg-white rounded-lg shadow-lg">
        <img
            src={offre.img}
            alt={offre.imgAlt}
            class="rounded-lg"
            width="600"
            height="400"
        />
        <h3 class="font-semibold text-2xl text-purple-900">
            {offre.nomMaison}
        </h3>
        <a href={`/offres/${offre.id}`}>Voir plus</a>
        {
            offre.favori ? (
                <button class="text-red-500 font-bold">♥ Favori</button>
            ) : (
                <buton class="text-red-500 font-bold">♡ Non Favori</buton>
            )
        }
    </div>
</div>
