---

---

<nav class="bg-fuchsia-900 p-3 flex items-center">
    <a
        class="text-2xl text-fuchsia-100 px-4 pr-15 hover:text-fuchsia-300 border-b-2 border-transparent hover:border-fuchsia-300"
        href="/">ACCUEIL</a
    >
    <p class="text-3xl text-fuchsia-100 px-4 pr-15">|</p>
    <a
        class="text-2xl text-fuchsia-100 px-4 hover:text-fuchsia-300 border-b-2 border-transparent hover:border-fuchsia-300"
        href="/offres">OFFRES</a
    >
</nav>
