---
import { addOffre } from "../../backend.mjs";

let message = "";
if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const response = await addOffre(formData);
    message = response.message;
}
---

<h1 class="my-8 mx-6 font-bold text-2xl text-purple-400">Ajouter une offre</h1>
<form action="/offres/add" method="POST" enctype="multipart/form-data">
    <input
        type="text"
        name="nomMaison"
        placeholder="Nom de la maison"
        required
        class="w-full mt-2 p-2 border border-gray-300 rounded-md m-6 max-w-80"
    />
    <br />
    <input
        class="w-full mt-2 p-2 border border-gray-300 rounded-md m-6 max-w-80"
        type="number"
        name="prix"
        placeholder="Prix"
    />
    <br />
    <input
        class="w-full mt-2 p-2 border border-gray-300 rounded-md m-6 max-w-80"
        type="number"
        name="nbSdb"
        placeholder="Nombre de salles de bain"
    />
    <br />
    <input
        class="w-full mt-2 p-2 border border-gray-300 rounded-md m-6 max-w-80"
        type="number"
        name="nbChambres"
        placeholder="Nombre de chambres"
    />
    <br />
    <input
        class="w-full mt-2 p-2 border border-gray-300 rounded-md m-6 max-w-80"
        type="number"
        name="surface"
        placeholder="Superficie"
    />
    <br />
    <input
        class="w-full mt-2 p-2 border border-gray-300 rounded-md m-6 max-w-80"
        type="file"
        name="image"
    />
    <br />
    <button
        class="bg-purple-400 text-white px-4 py-2 rounded shadow mx-6"
        type="submit">Ajouter</button
    >
    <a
        class="bg-pink-700 text-white px-4 py-2 rounded shadow mx-6"
        href="/offres">Retour àla page Offres</a
    >
</form>
