---
import Base from "../../layouts/Base.astro";
import Card from "../../components/Card.astro";

import { getOffres } from "../../backend.mjs";

import { filterByPrix } from "../../backend.mjs";

let message = "";
let offres = [];
if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const minPrix = parseInt(data.get("minPrix"));
    const maxPrix = parseInt(data.get("maxPrix"));

    if (minPrix > 0 && maxPrix > 0 && maxPrix > minPrix) {
        offres = await filterByPrix(minPrix, maxPrix);
        if (offres.length === 0) {
            message = `Pas d'offres entre ${minPrix}€ et ${maxPrix}€`;
        } else {
            message = `Liste des offres entre ${minPrix}€ et ${maxPrix}€`;
        }
    } else {
        message = "Veuillez entrer des valeurs valides pour le prix.";
        offres = await getOffres();
    }
} else {
    offres = await getOffres();
}
---

<Base titre="Offres">
    <h1 class="flex justify-center text-5xl py-3 font-semibold">Offres</h1>

    <form class="mx-4" action="/offres" method="POST">
        <input type="number" name="minPrix" placeholder="Prix minimum" />
        <input type="number" name="maxPrix" placeholder="Prix maximum" />
        <input type="submit" value="Filtrer par prix" />
    </form>

    <div x-data="{ showFavorites: false, showList: false }" class="p-4">
        <button
            @click="showFavorites = !showFavorites"
            class="bg-fuchsia-900 text-white px-4 py-2 rounded shadow hover:bg-fuchsia-900"
        >
            <span x-show="!showFavorites">Afficher les favoris</span>
            <span x-show="showFavorites">Afficher tout</span>
        </button>

        <button
            @click="showList = !showList"
            class="bg-pink-800 text-white px-4 py-2 rounded shadow hover:bg-pink-800 mx-4"
        >
            <span x-show="!showList">Afficher sous forme de liste</span>
            <span x-show="showList">Afficher sous forme de grille</span>
        </button>
        <a href="/offres/surface/80"
            >Maisons avec une supérficie supérieure à 80 m²</a
        >
        <a
            class="bg-purple-400 text-white px-4 py-2 rounded shadow hover:bg-purple-400 mx-4"
            href="/offres/add">Ajouter une offre</a
        >
        <div
            class="viewMode==='grid'? 'Afficher sous forme de grille' : 'Afficher sous forme de liste"
            x-show="!showFavorites"
            class="flex flex-wrap justify-center mt-4"
        >
            {offres.map((offre) => <Card {...offre} />)}
        </div>

        <div x-show="showFavorites" class="flex flex-wrap justify-center mt-4">
            {offres.map((offre) => offre.favori && <Card {...offre} />)}
        </div>
    </div>
</Base>
