---
import Base from "../../layouts/Base.astro";
import Card from "../../components/Card.astro";

import { getOffres } from "../../backend.mjs";

const offres = await getOffres();
---

<Base titre="Offres">
    <h1 class="flex justify-center text-5xl py-3 font-semibold">Offres</h1>
    <div x-data="{ showFavorites: false, showList: false }" class="p-4">
        <button
            @click="showFavorites = !showFavorites"
            class="bg-fuchsia-900 text-white px-4 py-2 rounded shadow hover:bg-fuchsia-900"
        >
            <span x-show="!showFavorites">Afficher les favoris</span>
            <span x-show="showFavorites">Afficher tout</span>
        </button>

        <button
            @click="showList = !showList"
            class="bg-pink-800 text-white px-4 py-2 rounded shadow hover:bg-pink-800"
        >
            <span x-show="!showList">Afficher sous forme de liste</span>
            <span x-show="showList">Afficher sous forme de grille</span>
        </button>
        <a href="/offres/surface/80"
            >Maisons avec une supérficie supérieure à 80 m²</a
        >
        <div
            class="viewMode==='grid'? 'Afficher sous forme de grille' : 'Afficher sous forme de liste"
            x-show="!showFavorites"
            class="flex flex-wrap justify-center mt-4"
        >
            {offres.map((offre) => <Card {...offre} />)}
        </div>

        <div x-show="showFavorites" class="flex flex-wrap justify-center mt-4">
            {offres.map((offre) => offre.favori && <Card {...offre} />)}
        </div>
    </div>
</Base>
